html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: black;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: none;
  color: white;
}

h1 {
  font-family: serif;
}

.c {
  max-width: 26.25rem;
  margin-left: auto;
  margin-right: auto;
}

.i {
  display: block;
  max-width: 100%;
  border: 2px solid cyan;
  transition: border-color .13s ease-in-out;
}
.i:hover,
.i:focus {
  border-color: darkblue;
}
